vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jul 2014 17:29:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Stratford/contacts.html Stratford/index.html Stratford/novice.html Stratford/players.html Stratford666/Toshi.html Stratford/Toshi.html Stratford666/Chuck.html Stratford666/Helen.html Stratford666/information.html Stratford666/novice.html Stratford/Chuck.html Stratford/Helen.html Stratford/scheduling.html Stratford666/contacts.html Stratford/information.html Stratford666/index.html Stratford666/players.html Stratford666/scheduling.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|22 Jul 2014 17:29:56 -0000
vti_cacheddtm:TX|22 Jul 2014 17:29:56 -0000
vti_filesize:IR|1108
