vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Aug 2014 17:45:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Stratford/Mobile/Chuck.html Stratford/Mobile/Helen.html Stratford666/Mobile/Chuck.html Stratford666/Mobile/Helen.html Stratford666/Mobile/players.html Stratford/Mobile/howto.html Stratford/Mobile/novice.html Stratford/Mobile/players.html Stratford666/Mobile/howto.html Stratford666/Mobile/novice.html Stratford/Mobile/Toshi.html Stratford666/Mobile/Toshi.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|24 Jun 2014 17:03:48 -0000
vti_nexttolasttimemodified:TW|25 Aug 2014 17:44:01 -0000
vti_cacheddtm:TX|25 Aug 2014 17:45:16 -0000
vti_filesize:IR|2691
vti_cachedlinkinfo:VX|S|../../Stratford/Mobile/images/bar.jpg
vti_cachedsvcrellinks:VX|FSUS|Stratford666/Stratford/Mobile/images/bar.jpg
