vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Aug 2014 17:40:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Stratford/Mobile/Chuck.html Stratford/Mobile/Helen.html Stratford666/Mobile/Chuck.html Stratford666/Mobile/Helen.html Stratford666/Mobile/information.html Stratford666/Mobile/players.html Stratford666/Mobile/contact.html Stratford/Mobile/howto.html Stratford/Mobile/information.html Stratford/Mobile/novice.html Stratford/Mobile/players.html Stratford/Mobile/index.html Stratford666/Mobile/howto.html Stratford666/Mobile/novice.html Stratford666/Mobile/index.html Stratford/Mobile/contact.html Stratford/Mobile/scheduling.html Stratford/Mobile/Toshi.html Stratford666/Mobile/scheduling.html Stratford666/Mobile/Toshi.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|31 Jul 2014 17:23:59 -0000
vti_nexttolasttimemodified:TW|25 Aug 2014 17:39:28 -0000
vti_cacheddtm:TX|25 Aug 2014 17:39:28 -0000
vti_filesize:IR|23468
vti_cachedlinkinfo:VX|S|../images/tiled-bg.png S|../Assets/sep.png S|../images/content-bg.png S|../images/marker-1.gif S|../images/marker-1.gif S|../images/banner.jpg
vti_cachedsvcrellinks:VX|FSUS|Stratford666/Mobile/images/tiled-bg.png NSUS|Stratford666/Mobile/Assets/sep.png FSUS|Stratford666/Mobile/images/content-bg.png FSUS|Stratford666/Mobile/images/marker-1.gif FSUS|Stratford666/Mobile/images/marker-1.gif FSUS|Stratford666/Mobile/images/banner.jpg
