vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Aug 2014 17:15:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Stratford666/Stratford/Mobile/howto.html Stratford666/Stratford/Mobile/novice.html Stratford666/Stratford/Mobile/Toshi.html Stratford666/Stratford/Mobile/Chuck.html Stratford666/Stratford/Mobile/Helen.html Stratford666/Stratford/Mobile/players.html
